<div class="col-lg-4"></div>
<div class="col-lg-4">
    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="AddFlat()">Add Flat</button>
    <br>
    <button class="btn btn-lg btn-secondary btn-block" type="button" (click)="AddHouse()">Add House</button>
    <br>

    <button class="btn btn-lg btn-info btn-block" type="button" (click)="ShowFlat()">Show Flats</button>
    <br>

    <button class="btn btn-lg btn-success btn-block" type="button" (click)="ShowHouse()">Show Houses</button>

</div>
<div class="col-lg-4"></div>