<div class="jumbotron" style="background:aliceblue;">
    <form #flatForm="ngForm" (ngSubmit)="AddNewFlat(flatForm)">
        <legend style="color:red;font-size: x-large; text-align: center;">Add New Flat</legend>
    
        <div class="container-fluid">
    
            <div class="row">
    
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="ownerName">Owner Name</label>
                        <input ngModel type="text" class="form-control" id="ownerName" name="ownerName"
                            placeholder="Enter Name">
                    </div>
    
                    <div class="form-group">
                        <label for="flatNumber">Flat Number</label>
                        <input ngModel type="text" class="form-control" id="flatNumber" name="flatNumber"
                            placeholder="Enter flat number">
                    </div>
    
                    <div class="form-groupF">
                        <label for="address">Street</label>
                        <input ngModel type="text" class="form-control" id="address" name="address"
                            placeholder="Enter Address">
                    </div>
    
                    <div class="form-group">
                        <label for="city">City</label>
                        <input ngModel type="text" class="form-control" id="city" name="city" placeholder="Enter City">
                    </div>
    
    
                    <div class="form-group">
                        <label for="state">State</label>
                        <input ngModel type="text" class="form-control" id="state" name="state" placeholder="Enter State">
                    </div>
    
                    <div class="form-group">
                        <label for="listDate">Listed On</label>
                        <input ngModel type="date" class="form-control" id="listDate" name="listDate"
                            placeholder="Enter Start Date">
                    </div>
    
                    
    
    
                </div>
    
                <div class="col-sm-4">
    
    
                    <div class="form-group">
                        <label for="apartmentName">Apartment Name</label>
                        <input ngModel type="text" class="form-control" id="apartmentName" name="apartmentName"
                            placeholder="Enter apartment Name">
                    </div>
    
    
                    <div class="form-group">
                        <label for="estateType">Estate Types</label><br>
                        <input ngModel type="radio" name="estateType" value="FLAT">FLAT 
                        
                    </div>
    
                    <div class="form-group">
                        <label for="floorSpace">Floor Space</label>
                        <input ngModel type="text" class="form-control" id="floorSpace" name="floorSpace"
                            placeholder="Enter floor Space">
                    </div>
    
                    <div class="form-group">
                        <label for="petsAllowed">Pets Allowed</label><br>
                        <input ngModel type="radio" name="petsAllowed" value="Yes">Yes &nbsp;&nbsp;
                        <input ngModel type="radio" name="petsAllowed" value="No" checked>No<br>
                    </div>
    
                    <div class="form-group">
                        <label for="price">price</label>
                        <input ngModel type="text" class="form-control" id="price" name="price" placeholder="Enter price">
                    </div>
                </div>
    
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="flatDescription">Flat Description</label>
                        <input ngModel type="text" class="form-control" id="flatDescription" name="flatDescription"
                            placeholder="Enter Flat Description">
                    </div>
    
                    <div class="form-group">
                        <label for="numberOfBalconies">Number Of Balconies</label>
                        <input ngModel type="text" class="form-control" id="numberOfBalconies" name="numberOfBalconies"
                            placeholder="Enter Number Of Balconies">
                    </div>
    
                    <div class="form-group">
                        <label for="numberOfBedrooms">Number Of Bedrooms</label>
                        <input ngModel type="text" class="form-control" id="numberOfBedrooms" name="numberOfBedrooms"
                            placeholder="Enter Number Of Bedrooms">
                    </div>
    
                    <div class="form-group">
                        <label for="numberOfBathrooms">Number Of Bathrooms</label>
                        <input ngModel type="text" class="form-control" id="numberOfBathrooms" name="numberOfBathrooms"
                            placeholder="Enter Number Of Bathrooms">
                    </div>
    
                    <div class="form-group">
                        <label for="status">Status</label><br>
                        <input ngModel type="radio" name="status" value="Available">Available &nbsp;&nbsp;
                        <input ngModel type="radio" name="status" value="Not Available" checked>Not Available<br>
                    </div>
                  
    
                  
    
                </div>
    
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success">Add New Flat</button>
        </div>
        <br>
    
        <div>
            <br> <br> <br> <br> <br>
        </div>
    
    </form>
</div>