<div class="jumbotron" style="background:aliceblue;">
    <form #flatForm="ngForm" (ngSubmit)="EditFlat(flatForm)">
        <legend style="color:rgb(6, 209, 245);font-size: x-large; text-align: center;">Edit Flat</legend>

        <div class="container-fluid">

            <div class="row">

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="ownerName">Owner Name</label>
                        <input type="text" class="form-control" id="ownerName" name="ownerName"
                            [(ngModel)]="flat.ownerName" placeholder="Enter Name">
                    </div>

                    <div class="form-group">
                        <label for="flatNumber">Flat Number</label>
                        <input ngModel type="text" class="form-control" id="flatNumber" name="flatNumber"
                            [(ngModel)]="flat.flatNumber" placeholder="Enter flat number">
                    </div>

                    <div class="form-groupF">
                        <label for="address">Street</label>
                        <input ngModel type="text" class="form-control" id="address" name="address"
                            [(ngModel)]="flat.address" placeholder="Enter Address">
                    </div>

                    <div class="form-group">
                        <label for="city">City</label>
                        <input ngModel type="text" class="form-control" id="city" name="city" placeholder="Enter City"
                            [(ngModel)]="flat.city">
                    </div>


                    <div class="form-group">
                        <label for="state">State</label>
                        <input ngModel type="text" class="form-control" id="state" name="state"
                            placeholder="Enter State" [(ngModel)]="flat.state">
                    </div>




                </div>

                <div class="col-sm-4">


                    <div class="form-group">
                        <label for="apartmentName">Apartment Name</label>
                        <input type="text" class="form-control" id="apartmentName" name="apartmentName"
                            [(ngModel)]="flat.apartmentName" placeholder="Enter apartment Name">
                    </div>


                    <div class="form-group">
                        <label for="estateType">Estate Types</label><br>
                        <input type="radio" name="estateType" value="FLAT" [(ngModel)]="flat.estateType" checked>FLAT

                    </div>

                    <div class="form-group">
                        <label for="floorSpace">Floor Space</label>
                        <input type="text" class="form-control" id="floorSpace" name="floorSpace"
                            [(ngModel)]="flat.floorSpace" placeholder="Enter floor Space">
                    </div>

                    <div class="form-group">
                        <label for="petsAllowed">Pets Allowed</label><br>
                        <input type="radio" name="petsAllowed" value="Yes" [(ngModel)]="flat.petsAllowed">Yes
                        &nbsp;&nbsp;
                        <input type="radio" name="petsAllowed" value="No" [(ngModel)]="flat.petsAllowed">No<br>
                    </div>

                    <div class="form-group">
                        <label for="price">price</label>
                        <input type="text" class="form-control" id="price" name="price" placeholder="Enter price"
                            [(ngModel)]="flat.price">
                    </div>

                    <div class="form-group">
                        <label for="listDate">Listed On</label>
                        <input ngModel type="date" class="form-control" id="listDate" name="listDate"
                            [(ngModel)]="flat.listDate" placeholder="Enter Start Date">
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="flatDescription">Flat Description</label>
                        <input type="text" class="form-control" id="flatDescription" name="flatDescription"
                            [(ngModel)]="flat.flatDescription" placeholder="Enter Flat Description">
                    </div>

                    <div class="form-group">
                        <label for="numberOfBalconies">Number Of Balconies</label>
                        <input type="text" class="form-control" id="numberOfBalconies" name="numberOfBalconies"
                            [(ngModel)]="flat.numberOfBalconies" placeholder="Enter Number Of Balconies">
                    </div>

                    <div class="form-group">
                        <label for="numberOfBedrooms">Number Of Bedrooms</label>
                        <input type="text" class="form-control" id="numberOfBedrooms" name="numberOfBedrooms"
                            [(ngModel)]="flat.numberOfBedrooms" placeholder="Enter Number Of Bedrooms">
                    </div>

                    <div class="form-group">
                        <label for="numberOfBathrooms">Number Of Bathrooms</label>
                        <input type="text" class="form-control" id="numberOfBathrooms" name="numberOfBathrooms"
                            [(ngModel)]="flat.numberOfBathrooms" placeholder="Enter Number Of Bathrooms">
                    </div>

                    <div class="form-group">
                        <label for="status">Status</label><br>
                        <input type="radio" name="status" value="Available" [(ngModel)]="flat.status">Available
                        &nbsp;&nbsp;
                        <input type="radio" name="status" value="Not Available" [(ngModel)]="flat.status">Not
                        Available<br>
                    </div>

                </div>

            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
        <br>

        <div>
            <br> <br> <br> <br> <br>
        </div>

    </form>
</div>