/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.image {
  background-image: url("/assets/images/bg3.jpg");
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */

  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  backface-visibility: hidden;


}
